.container{
    text-align: center;
    margin-top: 30px;
}
table{
    margin: auto;
}
input{
    width: 380px;
    height: 100px;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 100px;
    border: 5px solid black;
    border-radius: 10px;
    font-size: xxx-large;
    background: rgb(167, 162, 162);
}
button{
    height: 60px;
    width: 95px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 15px;
    background: rgb(7, 0, 3);
    color: rgb(253, 254, 255);
}
.calculator{
    display: inline-block;
    background: rgb(58, 17, 245);
    padding: 20px;
    border-radius: 25px;
    border: 5px solid black;
}
h1{
    font-size: xxx-large;
    padding: 9px;
}
button:hover{
    background: rgb(77, 70, 70);
    font-size: xx-large;
}